#wrapper{ /*En id-selektor med en bakgrundslänk och en grid runt header, form, nav*/
    background-image: url(https://i.pinimg.com/originals/cd/eb/d3/cdebd315136a6ef1bc98403d7acc83b2.jpg);
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-columns: auto;
    grid-template-areas: 
    "header"
    "form"
    "nav";
    font-size:20px;
    padding: 8px;
}

header{ /*Grid för header och texten centreras*/
    grid-area: header;
    text-align: center;
}



form{ /*Grid för formulären med en border, marginal, centrerade texter, bredd, höjder och annat*/
    grid-area: form;
    margin:auto;
    border-width: 3px;
    border-style: solid;
    border-radius: 1em;
    padding: 2em;
    text-align: center;
    width: 20%;
    height:90%;

}

input{ /*En label-element med en border, fontstorlek*/
    border-radius: 10px;
    font-size: 20px;
}

label{
    font-size: 30px;
}



#container{
    border-style: groove;
    border-radius: 10px;
    padding: 0%;
    margin: 1%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color:rgb(215, 227, 250);

}

nav{
    grid-area: nav;
    border-style:groove;
    border-radius: 10px;
    
}

iframe{
    width: 300px;
    height: 150px;
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0%;
    margin: 0%;
}

nav li{
    list-style: none;
    text-align: center;
    font-size: 1.5em;
}
nav a{
    text-decoration: none;
}


#tech{
    margin-left: 22%;
    width: 50%;
    text-align:center;
}

.img1{
    margin-left: 20px;
    width: 40vw;
    height: 70vh;

}


body{
    
    background-color: rgb(172, 225, 255);
}

#teknik{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    
}


.img2{
    width: 600px;
    height: 330px;
}

.img4{
    width: 600px;
    height: 370px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    text-align: center;
}

.img5{
    width: 600px;
    height: 380px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    text-align: center;
    margin: 0%;
}


#övrigt{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr ;
    border-style: solid;
    border-radius: 5px; 
    border-width: 2px;
}


ol li{
    color: rgb(8, 3, 8);
}



table{
    border-spacing: 0px;
    
}

th,td{
    border: 1px solid black;
    border-radius: 1px;
}

th{
    background-color:aquamarine;
}

th:nth-child(1), td:nth-child(1){
    text-align: left;
}

th:nth-child(2),th:nth-child(3),td:nth-child(2),td:nth-child(3) {
    text-align:center;
}

th:nth-child(4), td:nth-child(4){
    text-align: right;
}

tr:nth-child(odd){
    background-color: white;
}

tr:nth-child(even){
    background-color:aquamarine;
}


a:link{
    color: navy;
}

a:visited{
    color:blueviolet;
}

a:focus{
    color: rgb(255,0,0);
}

a:hover{
    color: #0000ff;
}

a:active{
    color:green;
}

footer{
    margin-top: 100px;
}

@media screen and (max-width: 800px){
}
