#hb{
    background-image: url(https://i.pinimg.com/originals/cd/eb/d3/cdebd315136a6ef1bc98403d7acc83b2.jpg);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    " . header ."
    " . main ."
    
    
    ;
    font-size:20px;
    padding: 8px;
}


header{
    grid-area: header;
    text-align: center;
}

main{
    grid-area: main;
}

form{
    grid-area: form;
    margin:auto;
    border-width: 3px;
    border-style: solid;
    border-radius: 1em;
    padding: 2em;
    text-align: center;

}

input{
    border-radius: 10px;
    font-size: 20px;
}

label{
    font-size: 30px;
}








@media screen and (max-width: 800px){

}